@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700italic,400,700");

html {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("back.jpg");
    font-family: Open Sans, Calibri,Garamond,Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 10pt;
    margin: 0;
    padding: 0;
    
}


tt.literal:not(.download) {
	border: 1px solid #E1E1E8;
	background-color: #EEEEEC;
	border-radius: 2px 2px 2px 2px;
	padding-left: 2pt;
	padding-right: 2pt;
} 

.download tt {
    font-family: Open Sans, Calibri,Garamond,Verdana,Geneva,Arial,Helvetica,sans-serif;
}

a {
	color: #204A87;
}

#page {
    background-color: #FFFFFF;
    box-shadow: 7px 10px 5px #888888, -3px 10px 5px #888888;
    margin: 0 auto;
    max-width: 65em;
}
#header {
    padding: 1em 2em;
}
#header .title {
    color: #FFFFFF;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 1.8em;
    margin: 0;
    padding: 0;
}
#header .subtitle {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 0.8em;
}

#header a {
    color: #FFFFFF;
    text-decoration: none;
}

#header a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

#header {
    background-image: url("bgtop.png");
}
#main {
    padding: 1em 2em;
}
#side_toc {
    float: right;
    width: 24%;
}
#content {
    float: left;
    width: 72%;
}
#footer {
    clear: both;
}
#side_toc h3 {
    color: #2E3436;
    font-size: 130%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
#side_toc a {
    text-decoration: none;
    display: block;
}
#side_toc a:hover, div.header a:hover {
    text-decoration: underline;
}
#side_toc ul {
    list-style-type: none;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
}
#side_toc li, #side_toc li {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.9em;
}
#side_toc li.toctree-l1 {
    margin-top: 1em;
}
#side_toc li.toctree-l1 a {
    color: #204A87;
    display: block;
    font-weight: normal;
    margin-bottom: 0.3em;
}
#side_toc li.toctree-l2 a {
    background-color: #EEEEEC;
    border: 1px solid #DDDDDD;
    color: #2E3436;
    display: block;
    font-weight: normal;
    margin-bottom: 0.4em;
    padding: 0.35em;
}
#side_toc li.toctree-l2 ul {
    display: none;
}
#side_toc li.toctree-l2.current ul {
    display: block;
}
#side_toc li.toctree-l2.current a {
    border-right: 0.8em solid #204A87;
}
#side_toc li.toctree-l2.current li.toctree-l3 a {
    border-right: medium none;
}
#side_toc li.toctree-l3 a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: rgba(0, 0, 0, 0);
    border-color: -moz-use-text-color -moz-use-text-color #DDDDDD;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    margin-left: 1em;
}
#side_toc li.toctree-l3:last-child a {
    border-bottom: medium none;
}


#content ul blockquote, #content ol blockquote, 
#content ul dd, #content ul dl,
#content ol dd, #content ol dl {
    margin: 0px;
    padding: 0px;
}
  


h1, h2, h3, h4 {
    color: #3465A4;
    font-family: "Georgia","Times New Roman",serif;
    font-weight: normal;
    margin-bottom: 0.5em;
}
h1 {
    color: #204A87;
    font-size: 2em;
    margin-top: 0.3em;
}
h2 {
    border-bottom: 1px solid #3465A4;
    font-size: 1.3em;
    padding-bottom: 0.2em;
    padding-top: 1em;
}
p {
    line-height: 130%;
    margin-top: 0.4em;
    margin-bottom: 1.4em;
}
pre, tt {
    font-family: Consolas, Courier New, Courier;
}


div.highlight pre {
    font-size: 0.9em;
    padding: 0.2em;
    border-color: #eaeae9;
    border-style: solid;
    border-width: 1px;
}

div.highlight {
	background-color: #eaeaea;
}

a.headerlink {
    color: #DDDDDD;
    padding-left: 0.3em;
    visibility: hidden;
}
h1:hover > a.headerlink, h2:hover > a.headerlink, h3:hover > a.headerlink, h4:hover > a.headerlink, h5:hover > a.headerlink, h6:hover > a.headerlink, dt:hover > a.headerlink {
    visibility: visible;
}





div.admonition, div.topic, div.sidebar {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 2px 7px 1px 7px;
  border-left: 0.2em solid gray;
  font-size: 0.9em;
  _line-height: 16px;
  background-color: #f3f3f3
}

/* exercise stuff */
div.topic.exercise {
	background-color: #F2F1DF;
	border: 1px solid #B8B074;
	border-left: 0.2em solid #B8B074;
}

div.topic.exercise div.admonition,
div.topic.exercise tt.literal:not(.download) {
	background-color:rgba(200, 200, 200, 0.2);	
}

div.topic.exercise div.highlight {
	background-color:rgba(200, 200, 200, 0.2);
}



div.topic.exercise.done {
	background-color: #E9F2EA;
	border: 1px solid green;
	border-left: 0.2em solid green;
}

.topic-title .controls a, 
.admonition-title .controls a {
	color:gray ! important;
	font-weight: normal;
}


.admonition.user-solution,
.admonition.server-response {
	margin-bottom: 0.7em;
	padding-right: 0.5em;
	
}

.topic.done.wrong .admonition.user-solution {
	border-left-color: #883030;
	background-color: #EDE5D8;
}

.topic.done:not(.wrong) .admonition.user-solution {
	border-left-color: green;
}



p.admonition-title,  p.topic-title, p.sidebar-title {
  margin: 0px 0px 0px 0px;
  font-weight: bold;
  color: gray;
}


.admonition p, .topic p {
	margin-top: 3px;
    margin-bottom: 7px;
}

.centered img.math {
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* HINT MANAGEMENT */
.admonition.hint .admonition-title {
    cursor: pointer;
    text-decoration: underline;
    display: block !important;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.admonition.hint.hidden>:not(.admonition-title) {
    display: none;
}


.admonition.hint.hidden  p.admonition-title:after {
    content: " ...";
}


.admonition-tegemata, .admonition-todo, .admonition-teha,
.admonition-tegemata *, .admonition-todo *, .admonition-teha * {
    background-color:pink ! important;
}

.admonition.warning, .admonition.warning * {
	background-color:#FFCC80 ! important;
}

.admonition.warning .admonition-title:after,
.admonition.attention .admonition-title:after {
    content: "!";
}

div.highlight-py3 * {
    line-height: 140% ! important;
}


table.docutils {
    border-collapse: collapse;
}

table.docutils th {
    background-color: #f3f3f3;
    color: #444444;
}

table.docutils th, table.docutils td {
	font-size: 90%;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    padding: 2px 4px;
}


div.highlight-none pre {
    line-height: 120%;
}